/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 62.5%;
  /*1rem:10px*/
  line-height: 1.4;
  box-sizing: border-box;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio, canvas, iframe, img, svg, video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

:root {
  --fuenteptsans: 'PT Sans', sans-serif;
  --fuenteopsans: 'Open Sans', sans-serif;
  --fuenteoswald: 'Oswald', sans-serif;
  --colornaranja: #fe4918;
  --colornegro: #353535;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #f2f2f2;
  font-size: 1.6rem;
  font-family: var(--fuenteopsans);
}

.seccion {
  padding: 3rem 0;
}

.seccion p {
  font-size: 2rem;
  text-align: center;
}

h2 {
  font-family: var(--fuenteoswald);
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
}

@media(min-width:768px) {
  h2 {
    font-size: 4rem;
  }
}

/*para poner el separador:*/

h2::after {
  content: '';
  margin: 0 auto;
  background-image: url(../img/separador.png);
  height: 3rem;
  width: 10rem;
  display: block;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

li{
  list-style: none;
}

.contenedor {
  width: 98%;
  margin: 0 auto;
}

@media(min-width:480px) {
  .contenedor {
    width: 95%;
  }
}

@media(min-width:768px) {
  .contenedor {
    width: 90%;
  }
}

@media(min-width:992px) {
  .contenedor {
    width: 90%;
    max-width: 110rem;
  }
}

/*header*/

.hero {
  background-image: url(../img/encabezado.jpg);
  height: 100vh;
  background-position: top center;
  background-size: cover;
}

.contenido-header {
  padding-top: 5rem;
}

@media(min-width:768px) {
  .contenido-header {
    padding-top: 2rem;
  }
}

nav.redes-sociales {
  text-align: center;
}

nav.redes-sociales a {
  font-size: 3rem;
  color: white;
  margin-right: 2rem;
}

nav.redes-sociales a:last-of-type {
  margin-right: 0;
}

.informacion-evento {
  text-align: center;
  color: white;
}

.informacion-evento p {
  margin: 0;
  display: inline;
  font-size: 2rem;
  text-transform: uppercase;
}

.informacion-evento p i {
  color: var(--colornaranja);
  font-size: 3rem;
  margin-right: 0.5rem;
}

.informacion-evento .posicion-iconos {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  justify-content: center;
}

@media(min-width:768px) {
  .informacion-evento .posicion-iconos {
    flex-direction: row;
    justify-content: space-around;
  }
}

h1.nombre-sitio {
  font-family: var(--fuenteptsans);
  font-size: 15vw;
  margin: 0.5rem 0;
  text-transform: uppercase;
  line-height: 1.2;
}

@media(min-width:768px) {
  h1.nombre-sitio {
    font-size: 10vw;
  }
}

p.slogan {
  text-transform: none;
}

p.slogan span {
  font-weight: bold;
}

/*barra*/

.barra {
  background-color: var(--colornegro);
  padding: 2rem 0;
}

.logo {
  width: 80%;
  float: left;
}

.logo img {
  width: 100%;
}

@media(min-width:768px) {
  .logo {
    width: 33%;
  }
}

/*navegacion principal*/

.navegacion-principal {
  display: none;
}

.navegacion-principal a {
  font-family: var(--fuenteoswald);
  color: white;
  font-size: 2.1rem;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  width: 100%;
  display: block;
  text-align: center;
  margin-bottom: 2rem;
}

.navegacion-principal a:hover {
  background-color: var(--colornaranja);
}

.navegacion-principal a:hover:last-child {
  color: white;
}

@media(min-width:768px) {
  .navegacion-principal {
    width: 67%;
    display: block;
    float: right;
    text-align: right;
  }
  .navegacion-principal a {
    line-height: 6.5rem;
    padding: 0 1rem;
    margin: 0 1rem 0 0;
    display: inline-block;
    width: auto;
    text-align: center;
  }
  .navegacion-principal a:last-child {
    margin-right: 0;
    color: var(--colornaranja);
    border: 0.2rem solid var(--colornaranja);
  }
}

/*menu movil*/

.menu-movil {
  width: 6rem;
  display: block;
  float: right;
  text-align: right;
  margin-top: 1.2rem;
}

.menu-movil:hover {
  cursor: pointer;
}

@media(min-width:768px) {
  .menu-movil {
    display: none;
  }
}

.menu-movil span {
  height: 0.8rem;
  margin-bottom: 0.6rem;
  background-color: white;
  display: block;
}

/**talleres**/

.programa {
  position: relative;
}

.contenedor-video {
  max-width: 100%;
  overflow-x: hidden;
}

.contenido-programa {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.programa-evento {
  background-color: rgba(255, 255, 255, 0.829);
  padding: 1.5rem;
  margin-top: 8rem;
}

@media(min-width:768px) {
  .programa-evento {
    width: 80%;
  }
}

@media(min-width:992px) {
  .programa-evento {
    width: 50%;
  }
}

.menu-programa {
  width: 100%;
  border-bottom: 0.1rem solid var(--colornaranja);
  padding-bottom: 1rem;
}

.menu-programa a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  font-family: var(--fuenteoswald);
  color: black;
  font-size: 2rem;
}

.menu-programa a i {
  color: var(--colornaranja);
  font-size: 3rem;
}

@media(min-width:768px) {
  .menu-programa a {
    display: inline-block;
    margin-right: 3rem;
    padding-bottom: 0;
    font-size: 2.5rem;
  }
  .menu-programa a i {
    margin-right: 1rem;
  }
}

/**eventos**/

.detalle-evento {
  margin-top: 1rem;
  border-bottom: 0.1rem solid black;
  padding: 0 1rem;
}

.detalle-evento:last-of-type {
  border-bottom: none;
}

.detalle-evento p {
  font-size: 2rem;
  margin-bottom: 1.7rem;
}

.detalle-evento p i {
  margin-right: 1rem;
  color: var(--colornaranja);
  font-size: 2.2rem;
}

.detalle-evento h3 {
  color: var( --colornaranja);
  font-size: 2rem;
  margin: 1rem 0 0 0;
}

.boton {
  display: inline-block;
  background-color: var(--colornaranja);
  padding: 1.5rem 4rem;
  color: white;
  text-transform: uppercase;
  font-family: var(--fuenteoswald);
  font-weight: bold;
  font-size: 1.8rem;
  margin-top: 1.5rem;
  transition: all 0.2s ease-in-out;
}

.boton:hover {
  background-color: #e33000;
}

.float-right {
  float: right;
}

/**seccion invitados**/

.lista-invitados {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;
  row-gap: 1.5rem;
}

.lista-invitados .invitado p {
  background-color: rgba(0, 0, 0, 0.603);
  color: var(--colornaranja);
  text-align: left;
  text-transform: uppercase;
  font-family: var(--fuenteoswald);
  padding: 1rem;
  margin-top: 0.2rem;
  transition: all 0.3s ease-in-out;
}

@media(min-width:768px) {
  .lista-invitados {
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
  }
  .lista-invitados .invitado {
    position: relative;
  }
  .lista-invitados .invitado p {
    position: absolute;
    padding: 1.5rem 0 1.5rem 1rem;
    display: inline-block;
    width: 100%;
    margin: 0;
    z-index: 1;
    left: 0;
    bottom: 0;
  }
}

.lista-invitados .invitado img {
  filter: grayscale(1);
  transition: all 0.3s ease-in-out;
}

.lista-invitados .invitado:hover img {
  filter: grayscale(0);
  transform: scale(1.1);
}

.lista-invitados .invitado:hover p {
  bottom: -2rem;
  opacity: 0;
}

/**contador**/

.parallax::before {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  filter: brightness(0.5);
}

.contador {
  position: relative;
  height: auto;
}

.contador::before {
  content: '';
  background-image: url(../img/bg-resumen.jpg);
}

.resumen-evento {
  position: relative;
  padding: 2rem 0;
}

.resumen-evento li{
  width:50%;
  float:left;
  text-align: center;
  color:white;
  text-transform:uppercase;
  font-family:var(--fuenteoswald);
  font-size:2.4rem;
}

@media(min-width:768px){
  .resumen-evento li{
    width: 25%;
  }
  
}
p.numero{
  color:var(--colornaranja);
  font-weight: bold;
  font-size:7rem;
  margin:0 0 1rem 0;
  display:block;
}




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active, .sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before, .clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *, *:before, *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a, a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after, a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr, img {
    page-break-inside: avoid;
  }
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }
  h2, h3 {
    page-break-after: avoid;
  }
}